.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  max-width: 1160px;
  margin: 120px auto 119px;

  @include vp-1365 {
    column-gap: 30px;
    padding: 0 35px;
    margin-top: 99px;
    margin-bottom: 101px;
  }
}

.about-us__map {
  width: 560px;
  height: 306px;
  background-color: $color-tangaroa-blue;

  @include vp-1365 {
    width: 324px;
    height: 335px;
    justify-self: center;
    align-self: center;
  }
}

.about-us__inner {
  width: 324px;
  align-self: center;

  @include vp-1365 {
    justify-self: center;
  }
}

.about-us__text {
  margin: 0;
  font-weight: 500;
  font-size: 1.13rem;
  line-height: 150%;
}

.about-us__address {
  margin-top: 33px;
  margin-bottom: 21px;
  padding-left: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  background: url("../img/svg/icon-pin.svg") no-repeat 0 -1px/18px 22px;

  @include vp-1365 {
    margin-top: 30px;
    background-position: 0 3px;
  }
}

.about-us__phone {
  display: block;
  padding-left: 28px;
  color: $color-tangaroa-blue;
  background: url("../img/svg/icon-phone.svg") no-repeat 0 0/18px 18px;
}
