.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 98px;
  max-width: 1160px;
  margin: 120px auto;

  @include vp-1279 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-1023 {
    column-gap: 30px;
    padding: 0 44px;
    margin-top: 99px;
    margin-bottom: 101px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 57px;
    margin-bottom: 68px;
  }
}

.about-us__map {
  max-width: 560px;
  height: 306px;
  background-color: $color-tangaroa-blue;

  @include vp-1279 {
    width: 100%;
  }

  @include vp-1023 {
    width: 324px;
    height: 335px;
    justify-self: center;
    align-self: center;
  }

  @include vp-767 {
    grid-row: 2/3;
    width: 100%;
    height: 316px;
  }
}

.about-us .is-nojs {
  background-image: url("../img/svg/icon-pin.svg"), url("../img/map-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 108px 220px, top left;
  background-size: 18px 22px, 560px auto;

  @include retina {
    background-image: url("../img/map-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/svg/icon-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-position: 108px 220px, center;
    background-size: 18px 22px, 325px auto;

    @include retina {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/svg/icon-pin.svg"), url("../img/map-mobile@1x.jpg");
    background-position: 111px 225px, top left;
    background-size: 18px 22px, 290px auto;

    @include retina {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }
}

.about-us__inner {
  align-self: center;

  @include vp-1023 {
    width: 324px;
    justify-self: center;
  }

  @include vp-767 {
    width: 100%;
    grid-row: 1/2;
  }
}

.about-us__inner p {
  margin: 0;
  font-weight: 500;
  font-size: 1.13rem;
  line-height: 150%;
}

.about-us__inner address {
  margin-top: 33px;
  margin-bottom: 21px;
  padding-left: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  background: url("../img/svg/icon-pin.svg") no-repeat 0 0/18px 22px;

  @include vp-1023 {
    margin-top: 27px;
    margin-bottom: 20px;
    background-position: 0 3px;
  }

  @include vp-767 {
    margin-top: 28px;
  }
}

.about-us__inner a {
  display: inline-block;
  vertical-align: middle;
  padding-left: 28px;
  color: $color-tangaroa-blue;
  background: url("../img/svg/icon-phone.svg") no-repeat 0 2px/18px 18px;

  &:hover {
    color: $color-contacts-background;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}
