.advantages {
  position: relative;
  padding-bottom: 120px;

  @include vp-1365 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 66px;
  }
}

.advantages img {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  background-color: $color-advantages-background;
}

.advantages h2 {
  margin: 0;
  padding-top: 110px;
  padding-bottom: 49px;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 150%;
  text-align: center;

  @include vp-1365 {
    padding-top: 90px;
    font-size: 1.63rem;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 30px;
    font-size: 1.5rem;
  }
}

.advantages ul {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 40px;
  list-style: none;

  @include vp-1365 {
    padding-left: 44px;
    padding-right: 44px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    row-gap: 30px;
  }
}

.advantages li {
  position: relative;
  width: 360px;
  padding: 30px;
  padding-right: 35px;
  padding-bottom: 27px;
  background-color: $color-default-white;

  @include vp-1365 {
    padding: 19px 7px 21px 19px;
    width: 206px;
    justify-self: center;
  }

  @include vp-767 {
    width: 100%;
    padding-left: 20px;
    padding-right: 21px;
  }
}

.advantages__svg {
  position: absolute;
  display: block;

  &--ship {
    top: 30px;
    left: 30px;

    @include vp-1365 {
      top: 25px;
      left: 20px;
      width: 21px;
      height: 26px;
    }
  }

  &--ticks {
    top: 35px;
    left: 30px;

    @include vp-1365 {
      top: 29px;
      left: 20px;
      width: 33px;
      height: 19px;
    }
  }

  &--boat {
    top: 37px;
    left: 30px;

    @include vp-1365 {
      top: 33px;
      left: 20px;
      width: 38px;
      height: 13px;
    }
  }
}

.advantages__inner h3 {
  margin: 0;
  margin-top: 51px;
  font-size: 1.13rem;
  font-weight: 500;
  line-height: 150%;

  @include vp-1365 {
    line-height: 139%;
  }

  @include vp-767 {
    margin-top: 50px;
    margin-right: 60px;
  }
}

.advantages__inner p {
  margin: 0;
  margin-top: 8px;
  font-size: 0.88rem;
  line-height: 143%;

  @include vp-767 {
    margin-top: 7px;
  }
}
