.advantages {
  position: relative;
}

.advantages__img {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  width: 1366px;
  margin: 0 auto;
}

.advantages__title {
  padding-top: 120px;
  padding-bottom: 60px;
  font-size: 1.75rem;
  line-height: 150%;
  text-align: center;
}

.advantages__list {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 20px 40px;
  list-style: none;
}

.advantages__item {
  background-color: $color-default-white;
}
