.cruises {
  margin-top: 111px;

  @include vp-1023 {
    margin-top: 89px;
  }

  @include vp-767 {
    margin-top: 57px;
  }
}

.cruises h2 {
  margin: 0;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 150%;

  @include vp-1023 {
    margin-bottom: 50px;
    font-size: 1.63rem;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
}

.cruises__inner {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 17px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 260px));
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 60px;
    padding-right: 60px;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-left: 25px;
    padding-right: 25px;
  }
}
