.header {
  position: relative;
  min-height: 657px;
  color: $color-default-white;
  margin-bottom: 93px;
  flex-shrink: 0;

  @include vp-1023 {
    min-height: 638px;
    margin-bottom: 90px;
  }

  @include vp-767 {
    min-height: 500px;
    margin-bottom: 39px;
  }
}

.header img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-image: $blue-to-white;
}

.header__inner {
  max-width: 1196px;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 16px;
  padding-right: 5px;

  @include vp-1023 {
    padding-top: 26px;
    padding-left: 45px;
    padding-right: 39px;
  }

  @include vp-767 {
    padding: 0;
  }
}


.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 70px;
  height: 38px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 15px;
    width: 42px;
    height: 22px;
  }
}

.header__logo-svg {
  width: 100%;
  height: 100%;
  fill: $color-alice-blue;
}

.header__toggle {
  display: none;
}

.header__wrap {
  margin-top: 197px;
  margin-left: 95px;
  padding-bottom: 30px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    margin-top: 214px;
    margin-left: 0;
  }

  @include vp-767 {
    margin-top: 176px;
    padding: 0 15px;
  }
}

.header h1 {
  margin: 0;
  font-size: 3.38rem;
  font-weight: 700;
  line-height: 122%;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 3.13rem;
    line-height: 122%;
  }

  @include vp-767 {
    font-size: 2.25rem;
    line-height: 125%;
  }
}

.header p {
  margin: 0;
  margin-top: 11px;
  font-size: 1.25rem;
  line-height: 120%;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-top: 13px;
    font-size: 1.13rem;
    line-height: 122%;
  }

  @include vp-767 {
    font-size: 1rem;
    line-height: 140%;
    margin-top: 11px;
    margin-right: 60px;
    padding-bottom: 30px;
  }
}

@include vp-767 {
  .header__toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 13;
    width: 40px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 15px 5px 15px 10px;
    right: 10px;
    top: 16px;
  }

  .header__toggle span {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 2px;
    vertical-align: bottom;
    background: $color-alice-blue;
    transition: $trans-default;
  }

  .header__toggle span::after,
  .header__toggle span::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-alice-blue;
    transform-origin: 50% 50%;
    transition: top 0.3s, transform 0.3s;
  }

  .header__toggle span::before {
    top: 6px;
  }

  .header__toggle span::after {
    top: -6px;
  }

  .is-open span {
    background: transparent;
  }

  .is-open span::before,
  .is-open span::after {
    width: 74%;
    left: 9px;
    top: 0;
    background: $color-tangaroa-blue;
  }

  .is-open span::before {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  .is-open span::after {
    transform: rotate3d(0, 0, 1, -45deg);
  }

  .is-nojs span {
    display: none;
  }

  .is-blue .header__logo-svg {
    fill: $color-tangaroa-blue;
  }

  .is-nojs .header__logo-svg {
    fill: $color-tangaroa-blue;
  }

  .is-open + .header__logo {
    z-index: 10;
    top: 20px;
    left: 16%;
  }

  .is-nojs + .header__logo {
    z-index: 10;
    top: 10px;
    left: 17px;
  }
}
