.header {
  position: relative;
  min-height: 658px;
  color: $color-default-white;
  margin-bottom: 89px;
  flex-shrink: 0;
}

.header__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-image: $blue-to-white;
}

.header__inner {
  max-width: 1196px;
  margin: 0 auto;
  padding-top: 33px;
  padding-left: 17px;
  padding-right: 3px;
}

/* .header__logo {
  padding-left: 1px;
} */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__toggle {
  display: none;
}

@include vp-767 {
  .header__toggle {
    display: block;
  }
}

.header__wrap {
  margin-top: 196px;
  margin-left: 96px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__title {
  margin: 0;
  font-size: 3.38rem;
  line-height: 122%;
}

.header__text {
  margin: 0;
  margin-top: 11px;
  font-size: 1.25rem;
  line-height: 120%;
}
