.nav {
  position: relative;
  margin-left: auto;

  @include vp-767 {
    margin-left: 0;
    width: 100%;
  }
}

.nav__wrapper ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 1000px;

  margin: 0;
  padding: 0;
  padding-right: 7px;
  list-style: none;


  @include vp-1023 {
    padding-right: 0;
  }

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 76px;
    height: 100%;
    overflow-y: auto;
  }
}

.nav__wrapper li {
  margin-left: 18px;

  @include vp-1023 {
    margin-left: 7px;
  }

  @include vp-767 {
    padding-bottom: 8px;
  }
}

.nav__wrapper a {
  display: block;
  padding: 5px 8px;
  line-height: 125%;
  color: $color-alice-blue;
  font-weight: 500;
  text-decoration: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  &:hover {
    color: $color-quartz-grey;
  }

  @include vp-1023 {
    font-size: 0.88rem;
    line-height: 121%;
  }

  @include vp-767 {
    padding: 10px 17px;
    color: $color-tangaroa-blue;
    font-size: 1.13rem;
    line-height: 122%;

    &:hover {
      color: $color-contacts-background;
    }
  }
}

@include vp-767 {
  .nav__wrapper {
    display: none;
  }

  .is-open .nav__wrapper {
    position: absolute;
    z-index: 8;
    display: block;
    width: 89%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: $color-alice-blue;
  }

  .nav__wrapper::before {
    position: absolute;
    content: "";
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $color-alice-blue;
  }

  .is-nojs .nav__wrapper {
    position: static;
    z-index: 8;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: $color-alice-blue;
  }

  .header__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7;
    background-color: $color-menu-transparent;
  }

  .is-open + .header__overlay {
    display: block;
  }

  .is-open h1,
  .is-open p {
    display: none;
  }
}
