.nav {
  position: relative;
  margin-left: auto;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0;
  padding: 0;
  padding-right: 7px;
  list-style: none;

  @include vp-1365 {
    padding-right: 0;
  }
}

.nav__item {
  margin-left: 20px;

  @include vp-1365 {
    margin-left: 9px;
  }
}

.nav__link {
  display: block;
  padding: 5px 8px;
  line-height: 125%;
  color: $color-alice-blue;
  text-decoration: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @include vp-1365 {
    font-size: 0.88rem;
    line-height: 121%;
  }
}

/* @include vp-767 {

} */
.nav__wrapper {
  display: none;
}

.nav--opened .nav__wrapper {
  position: absolute;
  z-index: 1100;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.nav--closed .nav__wrapper {
  display: none;
}
