.product-card {
  position: relative;
  min-height: 386px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 7px;
  color: $color-default-white;
  background-color: $color-tangaroa-blue;

  @include vp-1023 {
    width: 309px;
    padding-left: 35px;
    padding-right: 35px;
    justify-self: center;
  }

  @include vp-767 {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.product-card h3 {
  position: absolute;
  z-index: 3;
  left: 30px;
  bottom: 4px;
  color: $color-alice-blue;
  font-size: 1.13rem;
  font-weight: 500;
  line-height: 150%;

  @include vp-1023 {
    left: 36px;
    bottom: 10px;
  }

  @include vp-767 {
    left: 25px;
    bottom: 0;
  }
}

.product-card:hover h3 {
  top: 10px;
  left: 25px;
  bottom: auto;

  @include vp-1023 {
    left: 35px;
  }

  @include vp-767 {
    left: 25px;
  }
}

.product-card ul {
  overflow-y: auto;
  height: 228px;
  margin: 0;
  margin-top: 43px;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    margin-top: 39px;
  }
}

.product-card li {
  padding-top: 3px;
  padding-bottom: 6px;

  @include vp-1023 {
    padding-top: 7px;
    padding-bottom: 2px;
  }

  @include vp-767 {
    padding-top: 6px;
    padding-bottom: 3px;
  }
}

.product-card__gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: $white-to-blue;
}

.product-card img {
  position: absolute;
  left: 0;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: $blue-to-white;
  object-fit: cover;
  object-position: center center;
}

.product-card:hover img,
.product-card:hover .product-card__gradient {
  display: none;
}

.product-card h4 {
  margin: 0;
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 143%;
  color: $color-alice-blue;
}

.product-card span {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 142%;
  color: $color-quartz-grey;
}

.product-card a {
  display: block;
  order: 1;
  margin-top: 15px;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 0.88rem;
  line-height: 150%;
  text-align: center;
  color: $color-tangaroa-blue;
  background-color: $color-alice-blue;
  user-select: none;

  @include vp-1023 {
    margin-top: 19px;
  }

  @include vp-767 {
    margin-top: 18px;
  }

  &:hover {
    background-color: $color-quartz-grey;
  }
}

.product-card a:focus + h3 {
  top: 10px;
  left: 25px;
  bottom: auto;
}

.product-card a:focus ~ .product-card__wrap {
  display: none;
}
