.social {
  @include vp-767 {
    padding-bottom: 38px;
  }
}

.social ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  max-width: 250px;
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include vp-1365 {
    max-width: 140px;
    padding-left: 0;
  }

  @include vp-767 {
    justify-content: flex-start;
    row-gap: 10px;
    padding-left: 0;
  }
}

.social li {
  margin-left: 22px;
  padding-right: 0;

  @include vp-1365 {
    margin-left: 6px;
    margin-right: 3px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 23px;
  }
}

.social .social__link {
  display: block;
  padding: 13px 1px 10px 4px;

  @include vp-1365 {
    padding: 0;
  }
}

@include vp-1365 {
  .social__link--facebook {
    width: 9px;
    height: 16px;
  }

  .social__link--instagram {
    width: 16px;
    height: 16px;
  }

  .social__link--twitter {
    width: 16px;
    height: 13px;
  }
}

.social__icon {
  display: block;
  width: 100%;
  height: 100%;
}
